body, select, input {
	font-family: Arial, sans-serif;
	font-size: 14px;
}

h1 {
	font-size: 24px;
	font-weight: normal;
}

#tense {
	width: 100px;
}

#aspect {
	width: 250px;
}

#type {
	width: 180px;
}

#pronoun {
	width: 100px;
}

#verb {
	width: 100px;
}

#object {
	width: 323px;
}

.controls {
	margin: 10px 0;
}
#sentence {
	margin: 20px 0;
	font-family: monospace;
	font-size: 22px;
}

.verbOption {
	background-color: lightblue;
}

span {
	padding: 2px;
}

.aux {
	background-color: lightskyblue;
}

.not {
	background-color: lightgray;
}

.verb {
	background-color: lightgreen;
}

.pronoun {
	background-color: lightpink;
}

.ctr {
	background-color: bisque;
}
